/* Styles pour notre App MeetPeople */

/* Couleurs mauves pour notre app */

.color1{
    background-color: #F4EFFD;
}

.colorlettre{
    color: #A87FF3;
}

.colorBtn{
    background-color: #925FF0;
}

.colorBtn:hover{
    background-color: #5d10ed;
}

/* Styles pour le chat (Page conversation) */

.fontDate{
    font-size: 12px;
    font-style: italic;
}

.floatRight{
    display: flex;
    justify-content: flex-end;
}

.floatLeft{
    display: flex;
    justify-content: flex-start;
}

.chatExpediteur{
    background-color: #EBF6FF;
}

.chatRecevant{
    background-color: #FFEEF0;
}

.boiteChat{
    height: auto;
    max-width: 400px;
}

/* Styles pour le Navbar */

.link-hover{
    color:black;
}

.link-hover:hover{
    color: #caadff;
}

.btnDeconnecter{
    display: inline;
    border: none;
    font-size: 12px;
    float: right;
}

.ulStyle{
    list-style-type: none;
    display: inline;
    padding: 0;
}

.liStyle{
    display: inline;
}